.slideroption{
    // max-width: 100% !important;
    // max-height: 100% !important;
    border-radius: 5px;

        .slide-zoom{
                width:100% !important;
                height:100% !important;
            img{
                width:100% !important;
                height:100% !important;
                border-radius: 5px;
            }
        }

}